* {
  text-align: center;
  font-family: Verdana;
  background-color: black;
  font-color: white;
}

.links {
  font-size: 16px;
  font-color: aquamarine;
}

h1 {
  font-size: 50px
}

h2 {
  font-size: 41px;
  font-weight: 300;
}

p, #copyright {
  font-color: gray;
  font-size: 21px
}

#copyright {
  text-align: right;
}
